.logo {
    width: 80;
    height: 80px;
    background-color: #f1f1f1;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: left;
    opacity: 80%;

}
.icon {
    transform: scale(2.8);
    color: #AE9376;
    margin: 0 auto;
    width: '80%';
}
.avatar {
    display: inline-block;
    margin-bottom: 0;
    height: 3rem;
    width: 3rem;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
  }
  .avatar img {
    width: 50%;
    height: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .rounded-circle {
    border-radius: 50% !important;
  }
  span{
      font-size: 10px;
  }
  .avatar-profile {
    height: 16rem;
    width: 16rem;
  }
  
  .user-info h4 {
    font-weight: 800;
    color: grey;
    margin-top: 2rem;
  }
  
  .user-info p {
    font-size: 1.1rem;
  }
  
  #edit_profile {
    background-color: #fa9c23;
    border-color: #fa9c23;
  }

