.background3{
    background-color: aliceblue;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow-y: hidden ! important;
    overflow-x: hidden ! important;
}
